# Enriching IMDb Ratings Data

A utility for extracting data from the openMDb project.

In [6]:
# Import Libraries
import numpy as np
import pandas as pd
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from urllib import quote_plus

The ratings dataset comes from [the IMDb project](ftp://ftp.fu-berlin.de/pub/misc/movies/database/ratings.list.gz). I extract out the body of the ratings data (starting at line 296 and going to just before the "REPORT FORMAT" line at the end of the report) and create a new `.csv` file from this data using Microsoft Excel.

I read the data in and clean up the titles.

In [2]:
df = pd.read_csv('../data/ratings.csv',names=['dist','votes','rating','title'],encoding='mbcs')

df['year'] = df['title'].str.extract('\((\d\d\d\d)\/*\w*\) *\(*.*\)*$')
df.dropna(inplace=True)
df['year'] = df['year'].astype(np.int32)
df['shorttitle'] = df['title'].str.extract('(.*) \(\d\d\d\d\/*\w*\) *\(*.*\)*$')
df['shorttitle'] = df['shorttitle'].apply(lambda x: x.strip())

C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)
  app.launch_new_instance()
C:\Anaconda2\lib\site-packages\ipykernel\__main__.py:6: FutureWarning: currently extract(expand=None) means expand=False (return Index/Series/DataFrame) but in a future version of pandas this will be changed to expand=True (return DataFrame)

Because there are many very small films in the dataset, I'm going to focus on films that have at least 5000 votes. That will limit the database to larger, more well-known films.

In [3]:
dfsub = df[df['votes']>5000]
print(len(dfsub))
dfsub.head()

10075

,dist,votes,rating,title,year,shorttitle
92,0000002311,378326,7.7,(500) Days of Summer (2009),2009,(500) Days of Summer
138,0001111000,10556,5.3,(T)Raumschiff Surprise - Periode 1 (2004),2004,(T)Raumschiff Surprise - Periode 1
156,0000122100,23547,6.5,*batteries not included (1987),1987,*batteries not included
184,0000012211,7486,7.5,...altrimenti ci arrabbiamo! (1974),1974,...altrimenti ci arrabbiamo!
186,0000013211,23117,7.4,...and justice for all. (1979),1979,...and justice for all.

I need to gather additional data (director and genre) from the openMDb project. I first test the query.

In [7]:
title = '*batteries not included'
year = 1987
r = requests.get('http://www.omdbapi.com/?t=' + quote_plus(title) + '&y=' +str(year) + '&plot=short&r=json&tomatoes=true')

data = r.json()
print(data)

{u'Plot': u'Apartment block tenants seek the aid of alien mechanical life-forms to save their building from demolition.', u'Rated': u'PG', u'tomatoImage': u'N/A', u'Title': u'*batteries not included', u'Ratings': [{u'Source': u'Internet Movie Database', u'Value': u'6.5/10'}, {u'Source': u'Rotten Tomatoes', u'Value': u'64%'}], u'DVD': u'16 Mar 1999', u'tomatoMeter': u'N/A', u'Writer': u'Mick Garris (story by), Brad Bird (screenplay), Matthew Robbins (screenplay), Brent Maddock (screenplay), S.S. Wilson (screenplay)', u'tomatoUserRating': u'N/A', u'Production': u'Universal Pictures', u'Actors': u'Hume Cronyn, Jessica Tandy, Frank McRae, Elizabeth Pe\xf1a', u'tomatoFresh': u'N/A', u'Type': u'movie', u'imdbVotes': u'24,533', u'Website': u'N/A', u'tomatoConsensus': u'N/A', u'Poster': u'https://images-na.ssl-images-amazon.com/images/M/MV5BM2JlMDgxOTYtNmI2My00YzY1LWIyZTgtYzY0MjY3Y2RiZmY2L2ltYWdlL2ltYWdlXkEyXkFqcGdeQXVyNTI4MjkwNjA@._V1_SX300.jpg', u'tomatoRotten': u'N/A', u'Director': u'Matthew Robbins', u'Released': u'18 Dec 1987', u'tomatoUserReviews': u'N/A', u'Awards': u'2 wins & 1 nomination.', u'Genre': u'Comedy, Family, Fantasy', u'tomatoUserMeter': u'N/A', u'imdbRating': u'6.5', u'Language': u'English', u'Country': u'USA', u'BoxOffice': u'N/A', u'Runtime': u'106 min', u'tomatoReviews': u'N/A', u'imdbID': u'tt0092494', u'Metascore': u'N/A', u'Response': u'True', u'tomatoURL': u'http://www.rottentomatoes.com/m/batteries_not_included/', u'tomatoRating': u'N/A', u'Year': u'1987'}

I then write a function that will run through all the titles in my database and gather the additional information.

In [9]:
def getJSON(dfrow):
    import requests
    from urllib import quote_plus
    title = dfrow['shorttitle']
    year = dfrow['year']
    r = requests.get('http://www.omdbapi.com/?t=' + quote_plus(title) + '&y=' +str(year) + '&plot=short&r=json&tomatoes=true')

    data = r.json()
    newDBrow = pd.io.json.json_normalize(data)
    #print(newDBrow)
    return newDBrow
getJSON(dfsub.iloc[0]).columns.values

array([u'Actors', u'Awards', u'BoxOffice', u'Country', u'DVD', u'Director',
       u'Genre', u'Language', u'Metascore', u'Plot', u'Poster',
       u'Production', u'Rated', u'Ratings', u'Released', u'Response',
       u'Runtime', u'Title', u'Type', u'Website', u'Writer', u'Year',
       u'imdbID', u'imdbRating', u'imdbVotes', u'tomatoConsensus',
       u'tomatoFresh', u'tomatoImage', u'tomatoMeter', u'tomatoRating',
       u'tomatoReviews', u'tomatoRotten', u'tomatoURL', u'tomatoUserMeter',
       u'tomatoUserRating', u'tomatoUserReviews'], dtype=object)

I now run through the entire ratings list and create a new dataframe with the additional data.

In [88]:
nrows = 0
newdb = pd.DataFrame()
for row,datarow in dfsub.iterrows():
    import time
    newrow=getJSON(datarow)
    if 'Error' not in newrow:
        newrow['index'] = row
        newrow.set_index('index',inplace=True)
        newdb = newdb.append(newrow)
        #print(newrow)
    nrows += 1
    time.sleep(0.1)
    if (nrows % 100 == 0):
        print('Acquired {}\n'.format(nrows))
newdb.to_csv('../data/openmdb.csv')

Acquired 100

Acquired 200

Acquired 300

Acquired 400

Acquired 500

Acquired 600

Acquired 700

Acquired 800

Acquired 900

Acquired 1000

Acquired 1100

Acquired 1200

Acquired 1300

Acquired 1400

Acquired 1500

Acquired 1600

Acquired 1700

Acquired 1800

Acquired 1900

Acquired 2000

Acquired 2100

Acquired 2200

Acquired 2300

Acquired 2400

Acquired 2500

Acquired 2600

Acquired 2700

Acquired 2800

Acquired 2900

Acquired 3000

Acquired 3100

Acquired 3200

Acquired 3300

Acquired 3400

Acquired 3500

Acquired 3600

Acquired 3700

Acquired 3800

Acquired 3900

Acquired 4000

Acquired 4100

Acquired 4200

Acquired 4300

Acquired 4400

Acquired 4500

Acquired 4600

Acquired 4700

Acquired 4800

Acquired 4900

Acquired 5000

Acquired 5100

Acquired 5200

Acquired 5300

Acquired 5400

Acquired 5500

Acquired 5600

Acquired 5700

Acquired 5800

Acquired 5900

Acquired 6000

Acquired 6100

Acquired 6200

Acquired 6300

Acquired 6400

Acquired 6500

Acquired 6600

Acquired 6700

Acquired 6800

Acquired 6900

Acquired 7000

Acquired 7100

Acquired 7200

Acquired 7300

Acquired 7400

Acquired 7500

Acquired 7600

Acquired 7700

Acquired 7800

Acquired 7900

Acquired 8000

Acquired 8100

Acquired 8200

Acquired 8300

Acquired 8400

Acquired 8500

Acquired 8600

Acquired 8700

Acquired 8800

Acquired 8900

Acquired 9000

Acquired 9100

Acquired 9200

Acquired 9300

Acquired 9400

Acquired 9500

Acquired 9600

Acquired 9700

Acquired 9800

Acquired 9900

Acquired 10000

It turns out that this list of movies was too small. I then expanded the list to films with at least 1500 votes.

In [10]:
dfsub2 = df[df['votes']>1500]
dfsub2 = dfsub2[dfsub2['votes']<=5000]
print(len(dfsub2))
dfsub2.head()

10358

,dist,votes,rating,title,year,shorttitle
1,1111100001,2543,3.8,#1 Cheerleader Camp (2010) (V),2010,#1 Cheerleader Camp
24,2111000000,1594,3.3,#Horror (2015),2015,#Horror
57,0000122100,1693,6.5,$ (1971),1971,$
70,0000122100,2697,6.4,$5 a Day (2008),2008,$5 a Day
73,0000011113,1936,7.0,$50K and a Call Girl: A Love Story (2014),2014,$50K and a Call Girl: A Love Story

I repeat the data acquisition for these additional films.

In [ ]:
nrows = 0
newdb2 = pd.DataFrame()
for row,datarow in dfsub2.iterrows():
    import time
    newrow=getJSON(datarow)
    if 'Error' not in newrow:
        newrow['index'] = row
        newrow.set_index('index',inplace=True)
        newdb2 = newdb2.append(newrow)
        #print(newrow)
    nrows += 1
    time.sleep(0.1)
    if (nrows % 100 == 0):
        print('Acquired {}\n'.format(nrows))
newdb2.to_csv('../data/openmdb_more.csv')

# Condensing Data

I now join the datasets together to create a single data file with all of the information I need in it.

In [11]:
#Combine the data and look only at the films with more than 1500 votes on IMDb
newdb=pd.read_csv('../data/openmdb.csv',encoding='mbcs',index_col=0)
newdb2=pd.read_csv('../data/openmdb_more.csv',encoding='mbcs',index_col=0)
newdb3 =pd.concat([newdb,newdb2])
dfsubmore = df[df['votes']>1500]
print(len(newdb3))

16568

I now join the OpenMDb data with the IMDb data and look at how many rows I still have left.

In [12]:
print(len(dfsubmore))
dbbig = newdb3.join(dfsubmore)
print(len(dbbig))

20433
16568

I do some feature engineering to create new features.

In [15]:
def change_text(text):
    return text.encode('utf-8')  # assuming the encoding is UTF-8

#Get the first director and the list of directors
dbbig = dbbig[dbbig['Director'].notnull()]

dbbig['Director1']=dbbig['Director'].apply(lambda x: (str(change_text(x)).split(',')[0]))

#Create the genre sub listings including 'None' if there are no additional entries
dbsub = dbbig['Genre'].apply(lambda x: pd.Series([i for i in reversed(str(x).split(','))]))
dbsub.columns = ['Genre1', 'Genre2','Genre3']
def getGenre(x):
    if pd.notnull(x) and x != 'nan':
        return str(x).strip()
    else:
        return 'None'
dbsub['Genre1'] = dbsub['Genre1'].apply(getGenre)
dbsub['Genre2'] = dbsub['Genre2'].apply(getGenre)
dbsub['Genre3'] = dbsub['Genre3'].apply(getGenre)
dbbig = dbbig.join(dbsub)

#Create an integer rating that we can predict based on the average value
dbbig['stars'] = dbbig['rating'].apply(lambda x: int(np.round(x)))

The last step is to randomize the database rows before saving as a `tsv`. This is needed in order to have a random sampling in training the machine learning model on the Amazon Web Service.

In [16]:
dblearn =dbbig[['title','year','Director1','Genre1','Genre2','Genre3','stars']]
dblearn =dblearn.reindex(np.random.permutation(dblearn.index))
dblearn.to_csv('../data/movie_ratings_simple.tsv',sep='\t',index=False,na_rep='None',encoding='utf-8')

I also output to a `csv` for futher analysis.

In [17]:
dblearn.to_csv('../data/movie_ratings_simple.csv',sep=',',index=False,na_rep='None',encoding='utf-8')